/* To Do List */

h3 {
  color: #808000; /* Olive */
}

h4 {
  color: #307D7E; /* greenish blue */
}

h5 {
  color: #617C58; /* Hazel green */
}

body {
  font: sans-serif;
  color: #B87333; /* Copper */
}

fieldset {
  max-width: 900px;
  border: 1px solid #333;
}

form {
  max-width: 800px;
  margin: 0;
  padding: 0 5px;
}

span.user_msg {
  color: #800080; /* purple */
  font-size: 50%;
  text-indent: 5px;
}
span.error {
  color: red;
  font-size: 70%;
  text-indent: 5px;
}

input:invalid {
  border: 1px solid red;
}

/*
input:valid {
  border: 1px solid green;
}
*/

span.notDone {
  background-color: #FFFACD;
}

span.delete {
  background-color: #FFFACD;
}